<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69122586-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-69122586-2', {
        'custom_map': {'dimension1': 'short'}
      });
    </script>
    <title>{{short.title}}</title>
    <meta name="description" content="{{{short.description}}}"/>
    <meta property="og:description" content="{{{short.og_description}}}"/>
    <meta property="og:image" content="{{short.og_image}}"/>
    <meta property="og:url" content="{{short.url}}"/>
  </head>

  <body>
    <script>
      gtag('event', 'redirect', {
        event_category: 'Redirect',
        event_label: '{{{short.url}}}',
        short: '{{short.short}}'
      });

      (function() {
        window.location.replace("{{{short.url}}}");
      })();
    </script>
  </body>
</html>
